.main-layout-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.main-layout-loader {
  width: 100%;
  height: 100%;
}
