.main-layout-container {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-layout-header {
  width: 100%;
  flex-shrink: 0;
  z-index: 20;
  transition: all 0.5s ease;
  display: grid;
  grid-template-columns: minmax(320px, 1fr) auto minmax(320px, 1fr);
  align-items: start;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .main-layout-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.main-layout-loader {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debris-layer {
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.physics-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
