.room-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 50;
  position: relative;
}

.wall-plate {
  position: relative;
  width: 80px;
  height: 120px;
  background-color: var(--color-toasted-caramel);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 0 2px var(--color-spiced-wine), inset 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-cowhide-cocoa);
}

.screw {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-golden-batter);
  border: 1px solid var(--color-spiced-wine);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5),
    0 1px 2px rgba(0, 0, 0, 0.3);
}

.screw::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--color-spiced-wine);
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.screw.top {
  top: 15px;
}

.screw.bottom {
  bottom: 15px;
}

.rocker {
  width: 40px;
  height: 70px;
  background-color: var(--color-golden-batter);
  cursor: pointer;
  position: relative;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.rocker.on {
  box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.8),
    0 6px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to bottom,
    var(--color-golden-batter) 0%,
    var(--color-olive-harvest) 100%
  );
  transform: perspective(500px) rotateX(20deg);
  border-bottom: 1px solid var(--color-spiced-wine);
}

.rocker.off {
  box-shadow: inset 0 -4px 6px rgba(255, 255, 255, 0.8),
    0 -4px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to top,
    var(--color-golden-batter) 0%,
    var(--color-olive-harvest) 100%
  );
  transform: perspective(500px) rotateX(-20deg);
  border-top: 1px solid var(--color-spiced-wine);
}

.rocker-face {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background: inherit;
}
